<div class="container text-white">
    <form (ngSubmit)="onSubmit()" #locationForm="ngForm">
        <div class="form-group">
            <label for="locationName">Location Name: </label>
            <input type="text" [(ngModel)]="locationToEdit.locationName" name="locationName" id="locationName" #name="ngModel"
                class="form-control" placeholder="Enter Name">
        </div>
        <div class="form-group">
            <label for="locationDescription">Location Description: </label>
            <textarea rows="5" cols=155 type="text" [(ngModel)]="locationToEdit.locationDescription" name="locationDescription" id="locationDescription" #name="ngModel" 
            class="form-control" placeholder="Enter Location Description"></textarea>
        </div>
        <button type="submit" class="mt-2 btn btn-secondary">Save</button>
    </form>
</div>