<app-nav-sidebar></app-nav-sidebar>
<div class="container">
    <h1>
        Locations
    </h1>
    <span *ngIf="campaign.gameMasterID == userID" class="d-sm-inline-flex justify-content-end">
        <button class="btn btn-primary" routerLink='/add-locations'>Add New Location</button>
    </span>
    
    <table class="table" summary="locations table">
        <thead>
            <th id="name">Name</th>
            <th id="description">Description</th>
        </thead>
        <tbody>
            <tr *ngFor="let location of locations;" (click)="GetLocation(location.locationID)">
                <td>{{location.locationName}}</td>
                <td>{{location.locationDescription}}</td>
            </tr>
        </tbody>
    </table>
</div>