<div class="container transparent">
    
    <h1 class="text-white">
        Your Campaigns
    </h1> 

    <table class="table text-white">
        <thead>
            <th>Campaign Name</th>
        </thead>
        <tbody>
            <h5 *ngIf="campaigns.length === 0" class="text-white py-3">
                You are not a part of any campaigns. :(
            </h5>

            <tr *ngFor="let campaign of campaigns" (click)="GetCampaign(campaign.campaignID)" style="cursor: pointer">
                <td>{{campaign.campaignName}}</td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-primary" routerLink='/add-campaign'>Create Campaign</button>
</div>
