<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
            <ul class="navbar-nav flex-grow">
                <li class="nav-item">
                    <div ngbDropdown class="d-inline-block" style="cursor:pointer;">
                        <a class = "nav-link text-light" id="dropdownBasic1" ngbDropdownToggle>Story</a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class ="bg-dark">
                            <a ngbDropdownItem class="nav-link text-light" routerLink='/stories'>View Stories</a>
                            <a ngbDropdownItem class="nav-link text-light" routerLink='/add-story'>Add New Story</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div ngbDropdown class="d-inline-block" style="cursor:pointer;">
                        <a class = "nav-link text-light" id="dropdownBasic1" ngbDropdownToggle>Encounters</a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class ="bg-dark">
                            <a ngbDropdownItem class="nav-link text-light" routerLink='/get-encounters'>View Enc</a>
                            <a ngbDropdownItem class="nav-link text-light" routerLink='/add-encounters'>Add New Enc</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div ngbDropdown class="d-inline-block" style="cursor:pointer;">
                        <a class = "nav-link text-light" id="dropdownBasic1" ngbDropdownToggle>Items</a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class ="bg-dark">
                            <a ngbDropdownItem class="nav-link text-light" routerLink='/get-items'>View Items</a>
                            <a ngbDropdownItem class="nav-link text-light" routerLink='/add-items'>Add New Item</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div ngbDropdown class="d-inline-block" style="cursor:pointer;">
                        <a class = "nav-link text-light" id="dropdownBasic1" ngbDropdownToggle>Locations</a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class ="bg-dark">
                            <a ngbDropdownItem class="nav-link text-light" routerLink='/get-locations'>View Locations</a>
                            <a ngbDropdownItem class="nav-link text-light" routerLink='/add-locations'>Add New Location</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item" [routerLinkActive]="['link-active']">
                    <a class="nav-link text-light" routerLink='/quickRef'>Quick Ref</a>
                </li>
            </ul>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div id="expand-arrow" (click)="sidenav.toggle(); rotateArrow();">
            <div id="nav-lines">
                <div id="close-nav1"></div>
                <div id="close-nav2"></div>
            </div>
        </div>  
    </mat-sidenav-content>
</mat-sidenav-container>