<app-nav-sidebar></app-nav-sidebar>
<div class="container transparent">
    <h1>
        Campaign Encounters
    </h1>

    <table class="table">
        <thead>
            <th>Title</th>
            <th>Location ID</th>
            <th>Summary</th>
        </thead>
        <tbody>
            <tr *ngFor="let encounters of encounters;">
                <td>{{encounters.encounterTitle}}</td>
                <td>{{encounters.locationID}}</td>
                <td>{{encounters.encounterDescription}}</td>
            </tr>
        </tbody>
    </table>
</div>