<div class="container transparent">
    <h1>
        Campaign Encounters
    </h1>
    <span class="d-sm-inline-flex justify-content-end">
        <button class="btn btn-primary" routerLink='/add-encounters'>Add New Encounter</button>
    </span>

    <table class="table">
        <thead>
            <th>Title</th>
            <th>Location</th>
            <th>Summary</th>
        </thead>
        <tbody>
            <tr *ngFor="let encounter of encounters;" (click)=GetEncounter(encounter.encounterID) style="cursor: pointer">
                <td>{{encounter.encounterTitle}}</td>
                <td>{{encounter.location}}</td>
                <td>{{encounter.encounterDescription}}</td>
            </tr>
        </tbody>
    </table>
</div>