<div class="container transparent">
    <h1 *ngIf="auth.user$ | async as user">
        {{ user.email }} Characters
    </h1>

    <table class="table">
        <thead>
            <th>Character Name</th>
            <th>HP</th>
            <th>XP Level</th>
        </thead>
        <tbody>
            <tr *ngFor="let character of characters;">
                <td>{{character.characterName}}</td>
                <td>{{character.hp}}</td>
                <td>{{character.xpLevel}}</td>
            </tr>
        </tbody>
    </table>
</div>