<div class="container transparent">
    <button class="btn btn-primary" routerLink='/add-character'>Create Character</button>

    <h1>
        Characters
    </h1> 

    <table class="table">
        <thead>
            <th>Character Name</th>
            <th>HP</th>
            <th>XP Level</th>
        </thead>
        <tbody>
            <tr *ngFor="let character of characters;">
                <td>{{character.characterName}}</td>
                <td>{{character.hp}}</td>
                <td>{{character.xpLevel}}</td>
            </tr>
        </tbody>
    </table>
</div>