<div class="container transparent">
    
    <h1>
        Campaign
    </h1> 

    <table class="table">
        <thead>
            <th>Campaign Name</th>
        </thead>
        <tbody>
            <tr *ngFor="let campaign of campaign;" (click)="GetCampaign(campaign.campaignName)" style="cursor: pointer">
                <td>{{campaign.campaignName}}</td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-primary" routerLink='/add-campaign'>Create Campaign</button>
</div>
