<app-nav-sidebar></app-nav-sidebar>
<div class="container transparent text-white">
    <form (ngSubmit)="onSubmit()" #characterForm="ngForm">
        <div class="form-group">
            <label for="characterName">Character's Name: </label>
            <input type="text" [(ngModel)]="character2Add.characterName" name="characterName" id="characterName"
                #name="ngModel" class="form-control" placeholder="Enter character's name" min="0" max="20" required>
        </div>
        <div class="form-group">
            <label for="hp">Character's HP: </label>
            <input type="number" [(ngModel)]="character2Add.hp" name="hp" id="hp" #name="ngModel" class="form-control"
                placeholder="Enter character's hp" min="0" required>
        </div>
        <div class="form-group">
            <label for="xpLevel">Character's XP Level: </label>
            <input type="number" [(ngModel)]="character2Add.xpLevel" name="xpLevel" id="xpLevel" #name="ngModel"
                class="form-control" placeholder="Enter character's strength" min="0" max="20" required>
        </div>
        <div class="form-group">
            <label for="strength">Character's Strength: </label>
            <input type="number" [(ngModel)]="character2Add.strength" name="strength" id="strength" #name="ngModel"
                class="form-control" placeholder="Enter character's strength" min="0" max="20" required>
        </div>
        <div class="form-group">
            <label for="dexterity">Character's Dexterity: </label>
            <input type="number" [(ngModel)]="character2Add.dexterity" name="dexterity" id="dexterity" #name="ngModel"
                class="form-control" placeholder="Enter character's dexterity" min="0" max="20" required>
        </div>
        <div class="form-group">
            <label for="constitution">Character's Constitution: </label>
            <input type="number" [(ngModel)]="character2Add.constitution" name="constitution" id="constitution"
                #name="ngModel" class="form-control" placeholder="Enter character's constitution" min="0" max="20" required>
        </div>
        <div class="form-group">
            <label for="intelligence">Character's Intelligence: </label>
            <input type="number" [(ngModel)]="character2Add.intelligence" name="intelligence" id="intelligence"
                #name="ngModel" class="form-control" placeholder="Enter character's intelligence" min="0" max="20" required>
        </div>
        <div class="form-group">
            <label for="wisdom">Character's Wisdom: </label>
            <input type="number" [(ngModel)]="character2Add.wisdom" name="wisdom" id="wisdom" #name="ngModel"
                class="form-control" placeholder="Enter character's wisdom" min="0" max="20" required>
        </div>
        <div class="form-group">
            <label for="charisma">Character's Charisma: </label>
            <input type="number" [(ngModel)]="character2Add.charisma" name="charisma" id="charisma" #name="ngModel"
                class="form-control" placeholder="Enter character's charisma" min="0" max="20" required>
        </div>
        <button type="submit" class="mt-2 btn btn-secondary">Add character</button>
    </form>
</div>