<app-nav-sidebar></app-nav-sidebar>
<div *ngIf="story" class="container transparent text-white">

    <h2>{{story.storyTitle}} Details</h2>
    <table class="table text-white" summary="story details table">
        <tbody>
            <tr>
                <td>Title: </td>
                <td>{{story.storyTitle}}</td>
            </tr>
            <tr>
                <td>Text: </td>
                <td>{{story.storyDescription}}</td>
            </tr>
            <tr>
                <td>Date: </td>
                <td>{{story.dateCreated}}</td>
            </tr>
        </tbody>
    </table>
    <button *ngIf= "campaign.gameMasterID == userID" class="btn btn-warning mr-2" (click)="EditStory(story.storyID)">Edit</button> 
    <button *ngIf= "campaign.gameMasterID == userID" class="btn btn-danger" (click)="DeleteStory(story)">Delete</button>
</div>