<div class="container transparent">
    <form (ngSubmit)="onSubmit()" #storyForm="ngForm">
        <div class="form-group">
            <label for="encounterTitle">Encounter Title: </label>
            <input type="text" [(ngModel)]="encToAdd.encounterTitle" name="encounterTitle" id="encounterTitle" #name="ngModel"
                class="form-control" placeholder="Enter Title">
        </div>
        <div class="form-group">
            <label for="encounterDescription">Description: </label>
            <input type="text" [(ngModel)]="encToAdd.encounterDescription" name="encounterDescription" id="encounterDescription" #name="ngModel" 
            class="form-control" placeholder="Enter Story Content">
        </div>
        <button type="submit" class="btn btn-secondary">Add Story</button>
    </form>
</div>