<div class="container transparent">
    <form (ngSubmit)="onSubmit()" #storyForm="ngForm">
        <div class="form-group">
            <label for="storyTitle">Story Title: </label>
            <input type="text" [(ngModel)]="storyToAdd.storyTitle" name="storyTitle" id="storyTitle" #name="ngModel"
                class="form-control" placeholder="Enter Title">
        </div>
        <div class="form-group">
            <label for="storyDescription">Story Description: </label>
            <input type="text" [(ngModel)]="storyToAdd.storyDescription" name="storyDescription" id="storyDescription" #name="ngModel" 
            class="form-control" placeholder="Enter Story Content">
        </div>
        <div class="form-group">
            <label for="campaignID">Campaign Selector: </label>
            <input type="number" [(ngModel)]="storyToAdd.campaignID" name="campaignID" id='campaignID' #name="ngModel"
            class="form-control" placeholder="Enter the campaign id">
        </div>
        <button type="submit" class="btn btn-secondary">Add Story</button>
    </form>
</div>