<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" routerLink='/'>Bugbear</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" [ngClass]="{ show: isExpanded }">
                <ul class="navbar-nav flex-grow">
                    <li class="nav-item" [routerLinkActive]="['link-active']"
                        [routerLinkActiveOptions]="{ exact: true }">
                        <a class="nav-link text-dark" routerLink='/'>Home</a>
                    </li>
                    <li *ngIf="(auth.isAuthenticated$ | async) === false" class="nav-item" [routerLinkActive]="['link-active']">
                        <a class="nav-link text-dark" (click)="auth.loginWithRedirect()" style="cursor: pointer;">Log in</a>
                    </li>
                    <li *ngIf="auth.isAuthenticated$ | async" class="nav-item" [routerLinkActive]="['link-active']">
                        <a class="nav-link text-dark" (click)="auth.logout({ returnTo: document.location.origin })" style="cursor: pointer;">Log out</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['link-active']">
                        <a class="nav-link text-dark" routerLink='/characters'>Characters</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['link-active']">
                        <a class="nav-link text-dark" routerLink='/campaigns'>Campaigns</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['link-active']">
                        <a class="nav-link text-dark" routerLink='/stories'>Stories</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>