<div class="container mx-auto flex-center text-center py-5 text-white">
    <img class="border border-4 border-white rounded-3" src="../assets/bugbearIcon_256.png" alt="bugbear icon"/>
    <h1 class="py-1">
        Welcome to Bugbear Campaign Manager!
    </h1>

    <h3 *ngIf="(auth.isAuthenticated$ | async) === false">
        Please <a id="login" (click)="auth.loginWithRedirect()">login</a> to continue!
    </h3>

    <div *ngIf="auth.isAuthenticated$ | async" class="d-flex py-4">
        <div class="mx-auto col-5 bg-dark mx-2 rounded-1 p-2 grid-section" routerLink='/get-characters'>
            <h4>
                View My Characters
            </h4>
        </div>

        <div class="mx-auto col-5 bg-dark mx-2 rounded-1 p-2 grid-section" routerLink='/get-campaigns'>
            <h4>
                View My Campaigns
            </h4>
        </div>
    </div>
</div>